PACKAGE_LIST_ADDITIONAL="$PACKAGE_LIST_ADDITIONAL mc joe evtest libtool qt5-default fbcat fbi libqt5quick5v libqt5qml5 librtlsdr qtdeclarative5-dev libqt5quickwidgets5 qtquick1-5-dev libqt5quickwidgets5 qml-module-qtquick-controls libgstreamer1.0-0 gstreamer1.0-plugins-bad gstreamer1.0-plugins-good gstreamer1.0-plugins-base gstreamer1.0-alsa" # additional packages
